body {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: white;
}

.header {
  background: #1f2937;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  color: #3882f6;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

li {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #3882f6;
}


/* header menu */
.links {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding-right : 31px;
}

/* image size for homepage image. */
.info img {
  width: auto;
  height: 400px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  background-color: #1f2937;
  padding: 30px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
}

button.signup {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bold;
}

.text1 {
  color: #f9faf8;
  font-size: 12px;
  padding: 12px;
}

.headline {
  padding: 30px;
  margin-top: 33px;
}

.information {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;

}

.services {
  max-width: 200px;
}

.information-heading {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  text-align: center;
  margin-top: 10px;
  background-color: white;
}

.heading {
  text-align: center;
  color: #3882f6;
  font-size: bold;
}

/* images size for services */

.services img {
  width: 240px;
  height: 240px;
  border: 5px solid #3882f6;
}


.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin-top: 10px;
  background-color: #e5e7eb;
  font-weight: 36px;
  color: #1f2937;
  text-align: justify;
}

.testimonial1, .testimonial2 {
  font-style: italic;
  align-self: center;
  text-align: justify; 
}

.testimonial2 {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.modal {
  background-color: white;
  padding: 75px;
  display: flex;
  justify-content: center;
}

.container2 {
  padding: 10px;
  background-color: #3882f6;
}

.title-heading {
  display: flex;
  color: #f9faf8;
  align-self: flex-start;
  font-weight: bold;
  font-size: 25px;
  padding-left: auto;
}


.small-text {
  display: flex;
  align-self: flex-start;
  color: #f9faf8;
  font-size: 14px;
  padding-left: auto;
}

button.signup2 {
  background: #3882f6;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-top: -10px;
  margin-left: 10px;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 10px;
}
